Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
Build/
FileOpenOrder/
*.VC.opendb
PBRTextureLabHost/Binaries/
PBRTextureLabHost/DerivedDataCache/
PBRTextureLabHost/Intermediate/
PBRTextureLabHost/Saved/
PBRTextureLabHost/.vs/
PBRTextureLabHost/*.sln
__pycache__/
*.pyc
