Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
Build/
FileOpenOrder/
*.VC.opendb
PBRTextureLabHost/Binaries/
PBRTextureLabHost/DerivedDataCache/
PBRTextureLabHost/Intermediate/
PBRTextureLabHost/Saved/
PBRTextureLabHost/.vs/
PBRTextureLabHost/*.sln
PBRTextureLabHost/Content/PBRTextureLab/
PBRTextureLabHost/Content/NEW/
PBRTextureLabHost/Plugins/PBRTextureLab/Content/*
!PBRTextureLabHost/Plugins/PBRTextureLab/Content/Parents/
!PBRTextureLabHost/Plugins/PBRTextureLab/Content/Parents/**
__pycache__/
*.pyc
